In [2]:
import sqlite3 
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings('ignore')

In [3]:
#Because the OECD data website sucks, I could only download a certain amount of data at once (6000 cells), so in order to get all the countries they 
#have data on I needed to download 3 different excel sheets (used Excel sheets as they were a lot more usable than the csv formats).

IncomeTax1 = pd.read_excel(r'C:\Users\Matth\Downloads\Income tax 1.xlsx', sheet_name="Table")
IncomeTax2 = pd.read_excel(r'C:\Users\Matth\Downloads\Income tax 2.xlsx', sheet_name="Table")
IncomeTax3 = pd.read_excel(r'C:\Users\Matth\Downloads\Income tax 3.xlsx', sheet_name="Table")

#These are all the formated the same so I can repeat operations on them in a set

IncomeTax = [IncomeTax1, IncomeTax2, IncomeTax3]

In [4]:
IncomeTax1.head()

,Unnamed: 0,Table I.1. Central government personal income tax rates and thresholds,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Year,Year,2000.0,2001.0,2002.0,2003.0,2004.0,2005.0,2006.0,...,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0,2020.0,2021.0,2022.0
2,NaN,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Central government personal income tax rates a...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Italy,NaN,NaN,NaN,NaN,7500.0,7500.0,7500.0,7500.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#Removing junk rows and columns, transposing and setting correct index and columns

for df in IncomeTax:
    df.drop(df.columns[0], axis=1, inplace=True)
    df.drop(df.index[0], axis=0, inplace=True)

In [6]:
for df in IncomeTax:
        df.set_index(df.columns[0], inplace=True)

In [7]:
for df in IncomeTax:
    df.columns = df.iloc[0]  # Set column names to first row
    df.drop(df.index[0], inplace=True)  # Remove the first row

In [8]:
#Dropping more junk rows
for df in IncomeTax:
    df.drop(df.columns[0], axis=1, inplace=True)
    df.drop(df.index[0], axis=0, inplace=True)

In [9]:
#I had weirdness with transposing here... ignore this
IncomeTax1 = IncomeTax1.transpose()
IncomeTax2 = IncomeTax2.transpose()
IncomeTax3 = IncomeTax3.transpose()

IncomeTax = [IncomeTax1, IncomeTax2, IncomeTax3]

In [10]:
#Standardising the Year (index) names to match with other dataframes as they translated weirdly
for df in IncomeTax:
    df.index = df.index.astype(int)

IncomeTax1.head()

Table I.1. Central government personal income tax rates and thresholds,Central government personal income tax rates and thresholds: Personal allowance,Italy,Japan,Korea,Mexico,Netherlands,Norway,Poland,TÃ¼rkiye,United Kingdom,...,Central government personal income tax rates and thresholds: 10 Threshold,Austria,Mexico,Central government personal income tax rates and thresholds: 11 Marginal rate,Austria,Mexico,Central government personal income tax rates and thresholds: 11 Threshold,Austria,Central government personal income tax rates and thresholds: 12 Marginal rate,Austria
Year,,,,,,,,,,,,,,,,,,,,,
2000,NaN,NaN,380.0,600000.0,1580.00,3868.0,64300.0,982.08,225.0,4385.0,...,NaN,36336.0,NaN,NaN,42.0,NaN,NaN,50871.0,NaN,50.0
2001,NaN,NaN,380.0,600000.0,1690.65,NaN,69100.0,1110.72,262.8,4535.0,...,NaN,50871.0,NaN,NaN,50.0,NaN,NaN,NaN,NaN,NaN
2002,NaN,NaN,380.0,600000.0,1788.30,NaN,73100.0,1155.12,360.0,4615.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,NaN,7500.0,380.0,600000.0,1865.85,NaN,77300.0,1199.52,540.0,4615.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,NaN,7500.0,380.0,600000.0,1948.05,NaN,80400.0,1227.00,NaN,4745.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
#Now I have my dataset and need to organise it until a usable way.
#I believe we could split it up into different datasets. 
#Currencies need to be normalised, which can be done using my currency dataframe.

In [12]:
IncomeTax1.to_csv('IncomeTax1.csv', index=True)
IncomeTax2.to_csv('IncomeTax2.csv', index=True)
IncomeTax3.to_csv('IncomeTax3.csv', index=True)